.container{
        margin-left: auto;
        margin-right: auto;
        color: rgb(3, 78, 56);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        
}


/* 
header {
    background-color: blue;
    height: 50px;
    width: 1024px;
    text-align: left;

} */

nav { 
    top: 0%;
    background-color: rgba(255, 255, 255, 0.877);
    height: 100px;
    width: 1024px;
    position: fixed;
   }

.nav-link {
    /* background-color: rgba(255, 255, 255, 0.349); */
    color: rgb(3, 78, 56);
    font-weight: bold;
    border-radius: 100px;
}

h2 {

    background-color: rgb(8, 100, 69);
    background-image: url(../images/kannur_theyyam.jpeg);
    color: white;
    border-radius: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    height: 420px;
    background-size:auto;    
    background-repeat: no-repeat    ;
}

p {
    padding: 10px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.card-body {
    text-align: justify;

}

/* .contentmain {
    margin-top: 50%;
} */
main{
    /* background-color: pink; */
    height: 1600px;
    width: 1024px;
    margin-top: 10%;
}

.mb-0 {
    color: rgb(3, 78, 56);
    text-decoration: none;

}

footer {
    /* background-color: rgb(8, 100, 69); */
    height: 10px;
    width: 1024px;
    text-align: center;
    font-size: x-small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
