
.container{
    margin-left: auto;
    margin-right: auto;
    color: rgb(3, 78, 56);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}


/* 
header {
background-color: blue;
height: 50px;
width: 1024px;
text-align: left;

} */

nav { 
top: 0%;
background-color: rgba(255, 255, 255, 0.877);
height: 100px;
width: 1024px;
position: fixed;
}

.nav-link {
/* background-color: rgba(255, 255, 255, 0.349); */
color: rgb(3, 78, 56);
font-weight: bold;
border-radius: 100px;
}

.loginMain {
margin-top: 20%;
height: 500px;
width: 1024px;
float: left;


}

p {
    font-size: xx-large;
    text-shadow: 10px;
    text-align: justify;
    position: absolute;
    /* margin-left: 100px; */
  
}

.formlayout {

    width: 400px;
    float: right;
    position: relative;
    border-left: 1px solid green;
    box-shadow: inset;
    padding: 50px
}

.login-misc{
    padding-top: 10px;
}

.signupForm {
    
    border: 2px solid green;
    padding: 20px;
}

footer {
    /* background-color: rgb(8, 100, 69); */
    height: 10px;
    width: 1024px;
    text-align: center;
    font-size: x-small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    